@import '../../../node_modules/antd/lib/style/themes/default.less';
@import '../../utils/utils.less';

.base {
  :global {
    .steps-action {
      text-align: center;
    }
  }

  .btn {
    margin: 0 24px;
  }
}

.handleStyle {
  margin: 5px;
}

.addStyle {
  margin-top: -45px;
  .butStyle {
    margin-right: 10px;
    width: 100px;
    height: 26px;
  }
}

