.iframeContent {
  height: 100%;
  :global {
    .ant-spin-container {
      height: 100%;
    }
  }
}
.content {
  :global {
    .ant-table-fixed-left table, .ant-table-fixed-right table{
      width: min-content;
    }
  }
}
.leftSider{
  :global {
    .ant-layout-sider-children{
      min-height: 300px;
      height: min-content;
    }
    .ant-layout-sider-trigger{
      position: sticky;
      bottom: 0;
      background: #f5f7fc;
    }
  }
}
