@import '../../../node_modules/antd/lib/style/themes/default.less';
@import '../../utils/utils.less';

.index {
  user-select: none;

  .resetWord {
    margin-left: 16px;
    text-decoration: underline;
  }
}

.receiptStyle {
  .receiptLine {
    line-height: 30px;

    .receiptCols {
      padding-left: 0;
      padding-right: 0;
      text-align: right;
    }
    .receiptCol2 {
      padding-left: 0;
      padding-right: 24px;
    }
  }

  .receiptLabel {
    margin-right: 10px;
    line-height: 24px;
  }

  .receiptCol {
    margin-top: 50px;
    .receiptQuit {
      margin-right: 24px;
      float: right;
      margin-left: 10px;
    }
  }

  .receiptWord {
    line-height: 24px;
  }
}

.batchStyle {
  margin-top: -45px;
  z-index: 1;
  .buttons {
    margin-right: 10px;
    width: 100px;
    height: 26px;
  }
}



  .treeStyle {
    width: 80% !important;
    float: left !important;
  }


  .colStyle {
    width: 80%
  }
  .rowStyle {
    text-align: right;
    margin-top: 30px;
    .butStyle1{
      margin-right: 10px;
    }
    .butStyle2{
      margin-right: 30px;
    }
  }




.handleStyle {
  .aStyle {
    padding-right: 10px
  }

}
