@import '~antd/es/style/themes/default.less';
@import './style/common.less';
@import './style/index-2.0.less';

html,
body,
#root {
  height: 100%;
  //overflow: hidden;
}

.colorWeak {
  filter: invert(80%);
}

canvas {
  display: block;
}

ul,
ol {
  list-style: none;
}

@media (max-width: @screen-xs) {
  .ant-table {
    width: 100%;
    overflow-x: auto;

    &-thead > tr,
    &-tbody > tr {
      > th,
      > td {
        white-space: pre;

        > span {
          display: block;
        }
      }
    }
  }
}

// 兼容IE11
@media screen and(-ms-high-contrast: active), (-ms-high-contrast: none) {
  body .ant-design-pro > .ant-layout {
    // min-height: 100vh;
  }
}

// flow流程图

/* 设置连接线鼠滑样式 */
.jtk-connector.jtk-hover {
  cursor: pointer;
}

/* 设置端点鼠滑样式 */
.jtk-endpoint.jtk-hover {
  cursor: pointer;
}

#visobox {
  position: relative;
  display: flex;
  height: 100%;

  .visobox-left {
    width: 300px;
    padding: 8px;
  }

  .flowNodeList {
    height: 128px;
    overflow-y: scroll;
  }
}

#operate {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 100;
  padding: 10px;
  border: 1px solid #ddd;
}

#operate .viso-item + .viso-item {
  margin-top: 10px;
}

#operate .viso-item {
  width: 50px;
  padding: 5px 10px;
  color: #eee;
  font-size: 12px;
  text-align: center;
  border: 1px solid #ddd;
  border-radius: 5px;
}

#visobox-left .operate-item {
  margin-bottom: 8px;
  text-align: center;
}

#visobox-left .flowNodeItem {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

#visobox-left .flowNodeItem::after {
  flex: auto;
  content: '';
}

#visobox-left .flowNodeTitle {
  line-height: 32px;
}

#operate .operate-item button {
  width: 100%;
}

#operate .operate-item + .operate-item {
  margin-top: 10px;
}

#diagramContainer {
  position: relative;
  flex: 1;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-image: url(./assets/flow/grid.jpeg);
  background-repeat: repeat;
  user-select: none;
}

#diagramContainer .jtk-overlay-label {
  padding: 0 2px;
  color: #333;
  font-size: 12px;
  line-height: 15px;
  opacity: 0.8;
}

#diagramContainer .viso-item {
  position: absolute;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 80px;
  color: #eee;
  font-size: 12px;
  border: 2px solid #40affe;
  cursor: pointer;

  .viso-name {
    overflow: hidden;
  }
}

#diagramContainer .viso-input {
  position: absolute;
  width: 100%;
  height: 100%;
  color: #333;
  text-align: center;
  background: none;
  border: none;
}

#diagramContainer .ant-select {
  position: absolute;
  width: 100%;
  height: 100%;
  color: #eee;
  text-align: center;
  background: none;
  border: none;
  border-radius: 0;
}

#diagramContainer .ant-select .ant-select-selection {
  width: 100%;
  height: 100%;
  background: none;
  border: none;
}

#diagramContainer .ant-select .ant-select-selection__rendered {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  margin: 0;
}

#diagramContainer .ant-select .ant-select-selection-selected-value {
  float: none;
  padding-right: 0;
  font-size: 12px;
}

#diagramContainer .ant-select .ant-select-arrow {
  display: none;
}

#diagramContainer .viso-close {
  position: absolute;
  top: -20px;
  right: 0;
  z-index: 10;
  display: none;
  width: 15px;
  height: 20px;
  color: #666;
  font-size: 15px;
  font-family: 'Segoe UI', 'Lucida Grande', Helvetica, Arial;
  line-height: 20px;
  cursor: pointer;
}

#diagramContainer .viso-commonIcon {
  position: absolute;
  left: 0;
  z-index: 10;
  width: 15px;
  height: 20px;
  font-size: 15px;
  font-family: 'Segoe UI', 'Lucida Grande', Helvetica, Arial;
  line-height: 20px;
  cursor: pointer;
}

#diagramContainer .viso-add {
  bottom: 0;
  background: url(./assets/flow/add.png) no-repeat center center;
}

#diagramContainer .viso-cut {
  top: 0;
  background: url(./assets/flow/cut.png) no-repeat center center;
}

#diagramContainer .viso-close:hover {
  color: #333;
}

#diagramContainer .viso-start {
  width: 80px;
  height: 30px;
  border-radius: 10px;
}

#diagramContainer .viso-start .viso-input {
}

#diagramContainer .viso-end {
  width: 80px;
  height: 30px;
  border-radius: 10px;
}

#diagramContainer .viso-end .viso-input {
}

#diagramContainer .viso-task {
  width: 100px;
  height: 50px;
}

#diagramContainer .viso-task .viso-input {
}

#diagramContainer .viso-gateway-exclusive {
  width: 48px;
  height: 48px;
  font-size: 0;
  line-height: 0;
  background: url(./assets/flow/gateway_exclusive.png) no-repeat center center;
  background-size: 100% 100%;
}

#diagramContainer .viso-gateway-parallel {
  width: 48px;
  height: 48px;
  font-size: 0;
  line-height: 0;
  background: url(./assets/flow/gateway_parallel.png) no-repeat center center;
  background-size: 100% 100%;
}

#diagramContainer .diagram-item.select {
}

.visobox-right {
  width: 220px;
  padding: 8px;
  border-left: 1px solid #ccc;
}

.right-types {
  margin-bottom: 8px;
  color: #08979c;
  font-size: 16px;
  text-align: center;
  border-bottom: 1px solid #ccc;
}

.drag-item-type1,
#diagramContainer .viso-item-type1 {
  z-index: 1;
  width: 99% !important;
  height: 200px;
  opacity: 0.5;
}

.drag-item-type2,
#diagramContainer .viso-item-type2 {
  color: #333;
}

.drag-item-type3,
#diagramContainer .viso-item-type3 {
  color: #333;
}

.right-types-item {
  margin-bottom: 8px;
}

.visobox-mid {
  flex: 1;
  overflow: auto;
}

#diagramContainer .jtk-connector-outline,
.jtk-connector,
.jtk-endpoint-anchor {
  z-index: 100;
}
body .ant-layout {
  background-color: #f2f5fc;
}
//Ant design 修改table滚动条样式
//.ant-table-body{
//  &::-webkit-scrollbar {
//    height: 10px;
//  }
//  &::-webkit-scrollbar-thumb {
//    border-radius: 5px;
//    -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
//    background: #5E7CE0;
//  }
//  &::-webkit-scrollbar-track {
//    -webkit-box-shadow: none;
//    border-radius: 0;
//    background: rgba(0, 4, 40, 0.06);
//  }
//}
//
.ant-card-body .bottom-list{
  padding-left: 20px;
  margin-top: -50px;
}
body .ant-btn:hover, body .ant-btn:focus {
  border-color: #8aa4ed;
}
body{
  .ant-table-column-title{
    white-space: nowrap;
    z-index: 1;
    flex: 1 1;
  }
  .ant-btn-icon-only {
    font-size: 14px!important;
  }
  .ant-table-pagination.ant-pagination {
    margin: 16px !important;
  }
  .ant-radio-inner::after {
    margin-top: 0;
    margin-left: 0;
  }
  .ant-radio{
    top:0;
  }
  .ant-btn {
    line-height: 1.5715;
    border-radius:2px;
  }
  .ant-checkbox-wrapper::after {
    overflow: inherit;
  }

  .ant-table-column-sorter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 0px;
  }
  .ant-breadcrumb-separator {
    margin: 0 4px;
  }
  .ant-table-thead > tr > th  .ant-table-column-sorter-inner {
    display: inline-block;
  }
  .ant-table-thead > tr > th .ant-table-column-sorter .ant-table-column-sorter-inner-full {
    margin-top: 0.35em;
    margin-left: 4px;
  }
  .ant-tree-checkbox {
    top: 0.35em;
  }
  .ant-upload-list-text .ant-upload-list-item-name, .ant-upload-list-picture .ant-upload-list-item-name {
    padding: 0 16px;
  }
  .ant-upload-list-text .ant-upload-list-item-card-actions, .ant-upload-list-picture .ant-upload-list-item-card-actions {
    position: absolute;
  }
  .antd-pro-layouts-basic-layout-content .ant-layout-header {
    display: flex;
    justify-content: space-between;
    padding: 0 24px;
    position: fixed;
    height: 58px;
    line-height: 58px;
    width: 100%;
    z-index: 100;
    right: 0px;
  }
  .ant-layout.ant-layout-has-sider > .ant-layout, .ant-layout.ant-layout-has-sider > .ant-layout-content {
    padding-top: 58px;
  }
  #collDiv{
    display: none;
  }
  .ant-input-affix-wrapper {
    float: none;
    position: relative;
    display: inline-block;
    width: 100%;
    min-width: 0;
    color: #000000d9;
    font-size: 14px;
    height: 32px;
    line-height: 1.5715;
    background-color: #fff;
    background-image: none;
    border-radius: 2px;
    transition: all .3s;
    padding: 0 11px ;
  }
  .ant-input {
    line-height:1.5715;
    height: auto;
  }
}

